{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],  // 使用第三方插件，插件名称可以省略 eslint-plugin- 前缀
  "parserOptions": {
    "ecmaVersion": 6,  // ECMAScript 版本
    "sourceType": "module",  // 设置为 "script" (默认) 或 "module"（如果你的代码是 ECMAScript 模块)
    "ecmaFeatures": {  // 使用的额外的语言特性
      "jsx": true  // 启动JSX
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": 1,
    "quotes": [ 1, "single" ],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "semi": ["error", "always"]
  }
}
