html, body
  font-family 'Avenir', Helvetica, Arial, sans-serif
  font-weight normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  font-size 14px

ul
  list-style none
  margin 0
  padding 0
